a { cursor: default; }

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.ws-pre { white-space: pre; }

.hidden { display: none; }

.text-white-50 { color: rgba(255, 255, 255, .5); }
.text-black-50 { color: rgba(0, 0, 0, .5); }
.text-black-25 { color: rgba(0, 0, 0, .25); }
.text-purple { color: #6f42c1; }

.bg-purple { background-color: #6f42c1; }
.bg-light2 { background-color: #fbf9fa; }
.bg-played { background-color: #d2f7d4; }
.bg-maybeplayed { background-color: #fceeeb; }
.bg-wrongpc { background-color: #e3ecff; }

.lh-100 { line-height: 1; }
.lh-125 { line-height: 1.25; }
.lh-150 { line-height: 1.5; }

.img-thumbnail { 
  max-width: 150px!important;
  object-fit: contain;
}

.carousel-control-next-icon {
  background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23ddd' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e")
}

.carousel-control-prev-icon {
  background-image : url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23bbb' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e")
}

.fa-fx {
  text-align: center;
  width: 1.25em;
  height: 1.25em;
}